#!/usr/bin/make -f
# -*- makefile -*-

# hardening options stuff
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
# workaround for hardening on cmake
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

%:
	dh $@ --with kde

override_dh_auto_install:
	dh_auto_install
	
	# remove '-dev' related files
	$(RM) debian/kdeconnect/usr/lib/libkdeconnectcore.so
	$(RM) debian/kdeconnect/usr/lib/libkdeconnectinterfaces.so
	$(RM) -R debian/kdeconnect/usr/include
	$(RM) -R debian/kdeconnect/usr/lib/cmake/
